
/* CSS Document */



body {
      background: grey;   /* background color */
      color: black;        /* text color */
      font-size: 12px;
      font-family:Verdana, Geneva, sans-serif;
	  align-items: center;
}

#wrapper {
      width:900px;
      margin:0 auto;      /* centers wrapper */
      background: grey;  /* background color */
      text-align: center; 
	 
}







