
/* CSS Document */



body {
      background: yellow;   /* background color */
      color: black;        /* text color */
      font-size: 12px;
      font-family:Verdana, Geneva, sans-serif;
	  align-items: center;
}

#wrapper {
      width:1000px;
      margin:0 auto;      /* centers wrapper */
      background-color:powderblue; /* background color */
      text-align: center; 
	 
}
#map { border-color: double black;}
      

#Next{
	font-size: 1.5em;
	font-display:black;
	font:bold;
}

a {background-color:yellow;
	font-color:solid black;
	
}

