
/* CSS Document */

#wrapper {
	width:900px;
	margin:0 auto;
	text-align: center;
}
#arabic_map1_image{
	border:black 5px solid;
	
}
#arabic_map2_image{
	display:none;
	border:black 5px solid;
}
.choices{
	cursor: pointer;
}