
/* CSS Document */

body{
	text-align: center;
	background-color: lightskyblue;
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color:whitesmoke;
}
a hover{
	font-size: 200%;
	background-color: blue;
	color:red;
}

