
/* CSS Document */

body{
	text-align: center;
	background-color:powderblue;
	align-items: center;
}
a p {align-text:left;}
a {
	padding: 15px;
	margin: 4px;
	font-size: 125%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color:yellow;
	font-color:solid black;
 
}
#iframe {
	text-align: center; 

}
a hover{
	font-size: 125%;
	background-color: blue;
	font-color: solid black ;
}

.title{
	color :black;

}

img{
	align-content: center;
}


footer{
	align-items:center;
	background-color: whitesmoke;
}
.h3{ align-text: center;
		
}