


body{
	text-align: center;
	background-color: powderblue;
}
a{
	padding: 15px;
	margin:3px;
	font-size: 125%;
	background-color: yellow;
}
a:hover{
	font-size: 200%;
	background-color:yellow;
	
}

a img{
	align-content: center;
}

#box1{
	
 border:7px solid blue;
}
#box{
	border:10px solid blue;
}